{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>Statistiques des visites</h2>

    {{ form(form) }}

    {% if isSearched %}
        <table class="table table-striped">
            <thead>
            <tr>
                {% if not form.vars.data.group is same as(constant('AppBundle\\Form\\VisitSearchType::GROUP_URL')) %}<th>Date</th>{% endif %}
                {% if not form.vars.data.group is same as(constant('AppBundle\\Form\\VisitSearchType::GROUP_DATE')) %}<th>Url</th>{% endif %}
                <th>Visites</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for element in elements %}
                {% set total = total + element.nb %}
                <tr>
                    {% if not form.vars.data.group is same as (constant('AppBundle\\Form\\VisitSearchType::GROUP_URL')) %}<td>{{ element.date|date('d/m/Y') }}</td>{% endif %}
                    {% if not form.vars.data.group is same as (constant('AppBundle\\Form\\VisitSearchType::GROUP_DATE')) %}<td>{{ element.path }}</td>{% endif %}
                    <td>{{ element.nb }}</td>
                </tr>
            {% else %}
                <tr><th colspan="{% if form.vars.data.group is null %}3{% else %}2{% endif %}">Aucun élément</th></tr>
            {% endfor %}
            </tbody>
            {% if total > 0 %}
            <tfoot>
            <tr>
                <th{% if form.vars.data.group is same as("") %} colspan="2"{% endif %}>&nbsp;</th>
                <th>{{ total }}</th>
            </tr>
            </tfoot>
            {% endif %}
        </table>
    {% endif %}
{% endblock %}
