{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Tags{% endblock %}

{% block body %}
    {% import 'macro/table.html.twig' as table %}

    <h2>Tags</h2>

    {{ table.nb_elements(elements|length) }}

    <a href="{{ path('app_admin_tag_create') }}">Ajouter un tag</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Articles</th>
            <th>Actif</th>
        </tr>
        </thead>
        <tbody>
        {% for element in elements %}
            <tr>
                <td><a href="{{ path('app_admin_tag_edit', { 'id': element.id }) }}">{{ element.title }}</a></td>
                <td>{{ element.posts|length }}</td>
                <td>{{ table.active(element.active) }}</td>
            </tr>
        {% else %}
            <tr><th colspan="3">Aucun élément</th></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
